.home {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../assests/Steven Universe _The Answer_.gif") center/cover no-repeat fixed;
    text-align: center;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 2rem;
    color: #fff;
}

.home a {
    color: #fff;
    text-decoration: underline;
}

.home-title{
    color: #fff;
}

